*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;

}

.container{
    width: 100%;
    /* min-width: 100vh; */
   
   
    background: linear-gradient(135deg, #4e7bd3, #b221d6);
    padding:20px;
    padding-bottom: 170px;
} 

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
    

}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.todo-app h2 img{
    width: 45px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 25px;
    background:#edeef0;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;

}

.row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    padding: 10px;
}

.row button{
    background:#f06209;
    border: none;
    outline: none;
    padding: 16px 50px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 15px 10px 15px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
   
}

ul li.checked{
    
    color: #555;
    text-decoration:line-through ;
}
ul li.checked::before{
    background-image: url(checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    height: 40px;
    line-height:40px ;
    font-size:20px;
}

ul li :hover{
    background: #f6f6f9;
    
}